### 1. EXPLORATORY DATA ANALYSIS

In [5]:
import pandas as pd
import numpy as np
from PIL import Image
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [39]:
df = pd.read_csv("https://raw.githubusercontent.com/daffa1134/Praktikum-VisDat/main/urban_total.csv")
print("Data berhasil dibaca!")

Data berhasil dibaca!

Melihat 5 data teratas

In [7]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,Urban population,SP.URB.TOTL,27525.0,28139.0,28537.0,28763.0,28922.0,29080.0,...,44059.0,44351.0,44666.0,44978.0,45293.0,45614.0,45949.0,46294.0,46654.0,NaN
1,Africa Eastern and Southern,AFE,Urban population,SP.URB.TOTL,19239140.0,20049454.0,20897622.0,21807831.0,22780115.0,23806156.0,...,181061819.0,188513993.0,196270604.0,204322110.0,212669776.0,221319466.0,230276235.0,239539517.0,249112475.0,NaN
2,Afghanistan,AFG,Urban population,SP.URB.TOTL,755835.0,796271.0,839385.0,885227.0,934134.0,986074.0,...,7528589.0,7865068.0,8204880.0,8535606.0,8852834.0,9164768.0,9476982.0,9797274.0,10131490.0,NaN
3,Africa Western and Central,AFW,Urban population,SP.URB.TOTL,14141671.0,14813809.0,15527606.0,16290977.0,17102150.0,17961784.0,...,158838089.0,165607296.0,172602709.0,179836016.0,187305752.0,195016097.0,202961117.0,211133789.0,219531155.0,NaN
4,Angola,AGO,Urban population,SP.URB.TOTL,569223.0,597286.0,628376.0,660175.0,691526.0,721552.0,...,15383123.0,16130308.0,16900844.0,17691524.0,18502164.0,19332895.0,20184724.0,21061028.0,21962884.0,NaN

Melihat 5 data terbawah

In [8]:
df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
261,Kosovo,XKX,Urban population,SP.URB.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Yemen Rep.,YEM,Urban population,SP.URB.TOTL,483697.0,510127.0,538117.0,567679.0,598799.0,631541.0,...,8065869.0,8439119.0,8822595.0,9215168.0,9615916.0,10024986.0,10442487.0,10869523.0,11306428.0,NaN
263,South Africa,ZAF,Urban population,SP.URB.TOTL,7971773.0,8200255.0,8427007.0,8662568.0,8906583.0,9158948.0,...,33428280.0,34248628.0,35078456.0,35905875.0,36726640.0,37540921.0,38348227.0,39149715.0,39946775.0,NaN
264,Zambia,ZMB,Urban population,SP.URB.TOTL,557193.0,599672.0,645119.0,695944.0,762426.0,834489.0,...,5837266.0,6099735.0,6372742.0,6654568.0,6944320.0,7243007.0,7551639.0,7871715.0,8204576.0,NaN
265,Zimbabwe,ZWE,Urban population,SP.URB.TOTL,476164.0,500665.0,528409.0,567387.0,609177.0,653686.0,...,4306228.0,4359432.0,4416224.0,4473872.0,4531238.0,4589452.0,4650597.0,4717307.0,4792105.0,NaN

Melihat banyaknya entri pada dataset

In [37]:
print(df.shape)

(266, 66)

Melihat info pada dataset

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            262 non-null    float64
 5   1961            262 non-null    float64
 6   1962            262 non-null    float64
 7   1963            262 non-null    float64
 8   1964            262 non-null    float64
 9   1965            262 non-null    float64
 10  1966            262 non-null    float64
 11  1967            262 non-null    float64
 12  1968            262 non-null    float64
 13  1969            262 non-null    float64
 14  1970            262 non-null    float64
 15  1971            262 non-null    float64
 16  1972            262 non-null    float64
 17  1973            262 non-null    float64
 18  1974            262 non-null    float64
 19  1975            262 non-null    float64
 20  1976            262 non-null    float64
 21  1977            262 non-null    float64
 22  1978            262 non-null    float64
 23  1979            262 non-null    float64
 24  1980            262 non-null    float64
 25  1981            262 non-null    float64
 26  1982            262 non-null    float64
 27  1983            262 non-null    float64
 28  1984            262 non-null    float64
 29  1985            262 non-null    float64
 30  1986            262 non-null    float64
 31  1987            262 non-null    float64
 32  1988            262 non-null    float64
 33  1989            262 non-null    float64
 34  1990            263 non-null    float64
 35  1991            263 non-null    float64
 36  1992            262 non-null    float64
 37  1993            262 non-null    float64
 38  1994            262 non-null    float64
 39  1995            263 non-null    float64
 40  1996            263 non-null    float64
 41  1997            263 non-null    float64
 42  1998            263 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
 61  2017            262 non-null    float64
 62  2018            262 non-null    float64
 63  2019            262 non-null    float64
 64  2020            262 non-null    float64
 65  Unnamed: 65     0 non-null      float64
dtypes: float64(62), object(4)
memory usage: 137.3+ KB

Melihat ringkasan terkait dataset

In [41]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 66 entries, Country Name to Unnamed: 65
dtypes: float64(62), object(4)
memory usage: 137.3+ KB

Mendapatkan list kolom pada dataset

In [42]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

Mendapatkan list index dari dataset

In [43]:
df.index

RangeIndex(start=0, stop=266, step=1)

Tipe default dari setiap index dan kolom **bukanlah** list

In [44]:
print(type(df.columns))
print(type(df.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

Untuk mendapatkan index dan kolom sebagai list, kita bisa menggunakan method `toList()`

In [45]:
df.columns.tolist()

['Country Name',
 'Country Code',
 'Indicator Name',
 'Indicator Code',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 'Unnamed: 65']

In [46]:
df.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265]

In [47]:
print(type(df.columns.tolist()))
print(type(df.index.tolist()))

<class 'list'>
<class 'list'>

Demi konsistensi, kita buat semua kolom bertipe string

In [52]:
df.columns = list(map(str, df.columns))

Menghitung missing values pada dataset

In [53]:
df.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                4
                 ...
2017                4
2018                4
2019                4
2020                4
Unnamed: 65       266
Length: 66, dtype: int64

Menghapus missing values yang ada pada dataset

In [60]:
# Variabel years akan berguna ke depannya
years = list(map(str, range(1960, 2021)))

df.dropna(subset=years, inplace = True)

df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,Urban population,SP.URB.TOTL,27525.0,28139.0,28537.0,28763.0,28922.0,29080.0,...,44059.0,44351.0,44666.0,44978.0,45293.0,45614.0,45949.0,46294.0,46654.0,NaN
1,Africa Eastern and Southern,AFE,Urban population,SP.URB.TOTL,19239140.0,20049454.0,20897622.0,21807831.0,22780115.0,23806156.0,...,181061819.0,188513993.0,196270604.0,204322110.0,212669776.0,221319466.0,230276235.0,239539517.0,249112475.0,NaN
2,Afghanistan,AFG,Urban population,SP.URB.TOTL,755835.0,796271.0,839385.0,885227.0,934134.0,986074.0,...,7528589.0,7865068.0,8204880.0,8535606.0,8852834.0,9164768.0,9476982.0,9797274.0,10131490.0,NaN
3,Africa Western and Central,AFW,Urban population,SP.URB.TOTL,14141671.0,14813809.0,15527606.0,16290977.0,17102150.0,17961784.0,...,158838089.0,165607296.0,172602709.0,179836016.0,187305752.0,195016097.0,202961117.0,211133789.0,219531155.0,NaN
4,Angola,AGO,Urban population,SP.URB.TOTL,569223.0,597286.0,628376.0,660175.0,691526.0,721552.0,...,15383123.0,16130308.0,16900844.0,17691524.0,18502164.0,19332895.0,20184724.0,21061028.0,21962884.0,NaN

In [61]:
df.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                0
                 ...
2017                0
2018                0
2019                0
2020                0
Unnamed: 65       260
Length: 66, dtype: int64

### 2. FILTERING

#### 1. Menghapus kolom yang tidak perlu.

In [62]:
df.drop(['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 65'], axis = 1, inplace = True)

df.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,27525.0,28139.0,28537.0,28763.0,28922.0,29080.0,29246.0,29411.0,29570.0,...,43820.0,44059.0,44351.0,44666.0,44978.0,45293.0,45614.0,45949.0,46294.0,46654.0
1,Africa Eastern and Southern,19239140.0,20049454.0,20897622.0,21807831.0,22780115.0,23806156.0,24889120.0,26027808.0,27231613.0,...,173901249.0,181061819.0,188513993.0,196270604.0,204322110.0,212669776.0,221319466.0,230276235.0,239539517.0,249112475.0
2,Afghanistan,755835.0,796271.0,839385.0,885227.0,934134.0,986074.0,1041191.0,1099273.0,1161355.0,...,7212518.0,7528589.0,7865068.0,8204880.0,8535606.0,8852834.0,9164768.0,9476982.0,9797274.0,10131490.0
3,Africa Western and Central,14141671.0,14813809.0,15527606.0,16290977.0,17102150.0,17961784.0,18832309.0,19752609.0,20725919.0,...,152273428.0,158838089.0,165607296.0,172602709.0,179836016.0,187305752.0,195016097.0,202961117.0,211133789.0,219531155.0
4,Angola,569223.0,597286.0,628376.0,660175.0,691526.0,721552.0,749546.0,776142.0,804151.0,...,14660281.0,15383123.0,16130308.0,16900844.0,17691524.0,18502164.0,19332895.0,20184724.0,21061028.0,21962884.0

#### 2. Mengganti nama kolom.

In [63]:
df.rename(columns={'Country Name':'Country'}, inplace = True)
df.head()

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,27525.0,28139.0,28537.0,28763.0,28922.0,29080.0,29246.0,29411.0,29570.0,...,43820.0,44059.0,44351.0,44666.0,44978.0,45293.0,45614.0,45949.0,46294.0,46654.0
1,Africa Eastern and Southern,19239140.0,20049454.0,20897622.0,21807831.0,22780115.0,23806156.0,24889120.0,26027808.0,27231613.0,...,173901249.0,181061819.0,188513993.0,196270604.0,204322110.0,212669776.0,221319466.0,230276235.0,239539517.0,249112475.0
2,Afghanistan,755835.0,796271.0,839385.0,885227.0,934134.0,986074.0,1041191.0,1099273.0,1161355.0,...,7212518.0,7528589.0,7865068.0,8204880.0,8535606.0,8852834.0,9164768.0,9476982.0,9797274.0,10131490.0
3,Africa Western and Central,14141671.0,14813809.0,15527606.0,16290977.0,17102150.0,17961784.0,18832309.0,19752609.0,20725919.0,...,152273428.0,158838089.0,165607296.0,172602709.0,179836016.0,187305752.0,195016097.0,202961117.0,211133789.0,219531155.0
4,Angola,569223.0,597286.0,628376.0,660175.0,691526.0,721552.0,749546.0,776142.0,804151.0,...,14660281.0,15383123.0,16130308.0,16900844.0,17691524.0,18502164.0,19332895.0,20184724.0,21061028.0,21962884.0

#### 3. Memastikan semua kolom bertipe string.

In [64]:
all(isinstance(column, str) for column in df.columns)

True

#### 4. Menjadikan country sebagai index

In [65]:
df.set_index('Country', inplace = True)

In [66]:
# optional: to remove the name of the index
df.index.name = None

In [67]:
df.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Aruba,27525.0,28139.0,28537.0,28763.0,28922.0,29080.0,29246.0,29411.0,29570.0,29742.0,...,43820.0,44059.0,44351.0,44666.0,44978.0,45293.0,45614.0,45949.0,46294.0,46654.0
Africa Eastern and Southern,19239140.0,20049454.0,20897622.0,21807831.0,22780115.0,23806156.0,24889120.0,26027808.0,27231613.0,28510477.0,...,173901249.0,181061819.0,188513993.0,196270604.0,204322110.0,212669776.0,221319466.0,230276235.0,239539517.0,249112475.0
Afghanistan,755835.0,796271.0,839385.0,885227.0,934134.0,986074.0,1041191.0,1099273.0,1161355.0,1228273.0,...,7212518.0,7528589.0,7865068.0,8204880.0,8535606.0,8852834.0,9164768.0,9476982.0,9797274.0,10131490.0
Africa Western and Central,14141671.0,14813809.0,15527606.0,16290977.0,17102150.0,17961784.0,18832309.0,19752609.0,20725919.0,21755557.0,...,152273428.0,158838089.0,165607296.0,172602709.0,179836016.0,187305752.0,195016097.0,202961117.0,211133789.0,219531155.0
Angola,569223.0,597286.0,628376.0,660175.0,691526.0,721552.0,749546.0,776142.0,804151.0,837819.0,...,14660281.0,15383123.0,16130308.0,16900844.0,17691524.0,18502164.0,19332895.0,20184724.0,21061028.0,21962884.0

#### 5. Menambah kolom total.

In [68]:
df['Total'] = df.sum(axis=1)

df.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Total
Aruba,27525.0,28139.0,28537.0,28763.0,28922.0,29080.0,29246.0,29411.0,29570.0,29742.0,...,44059.0,44351.0,44666.0,44978.0,45293.0,45614.0,45949.0,46294.0,46654.0,2.215291e+06
Africa Eastern and Southern,19239140.0,20049454.0,20897622.0,21807831.0,22780115.0,23806156.0,24889120.0,26027808.0,27231613.0,28510477.0,...,181061819.0,188513993.0,196270604.0,204322110.0,212669776.0,221319466.0,230276235.0,239539517.0,249112475.0,5.745358e+09
Afghanistan,755835.0,796271.0,839385.0,885227.0,934134.0,986074.0,1041191.0,1099273.0,1161355.0,1228273.0,...,7528589.0,7865068.0,8204880.0,8535606.0,8852834.0,9164768.0,9476982.0,9797274.0,10131490.0,2.363210e+08
Africa Western and Central,14141671.0,14813809.0,15527606.0,16290977.0,17102150.0,17961784.0,18832309.0,19752609.0,20725919.0,21755557.0,...,158838089.0,165607296.0,172602709.0,179836016.0,187305752.0,195016097.0,202961117.0,211133789.0,219531155.0,4.869940e+09
Angola,569223.0,597286.0,628376.0,660175.0,691526.0,721552.0,749546.0,776142.0,804151.0,837819.0,...,15383123.0,16130308.0,16900844.0,17691524.0,18502164.0,19332895.0,20184724.0,21061028.0,21962884.0,4.121981e+08