In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [56]:
df = pd.read_excel("https://github.com/daffa1134/Praktikum-VisDat/blob/main/dataPilpres.xlsx?raw=true", sheet_name='Sheet1')
print("Data berhasil dibaca!")

Data berhasil dibaca!

### 1. EXPLORATORY DATA ANALYSIS

Melihat 5 data teratas

In [57]:
df.head()

  NAMA_PROV  NAMA_KAB/KOTA  NOMOR 01  NOMOR 02
0      ACEH   ACEH SELATAN   3267680  31334160
1      ACEH  ACEH TENGGARA  13105015  35300265
2      ACEH     ACEH TIMUR  10984869  91387359
3      ACEH    ACEH TENGAH  14001880  21683385
4      ACEH     ACEH BARAT   5079183  31261548

Melihat 5 data terbawah

In [58]:
df.tail()

             NAMA_PROV      NAMA_KAB/KOTA  NOMOR 01  NOMOR 02
509        PAPUA BARAT  MANOKWARI SELATAN   1340868    130815
510        PAPUA BARAT   PEGUNUNGAN ARFAK   5333746     64574
511  SULAWESI TENGGARA         MUNA BARAT   1587818   2293792
512  SULAWESI TENGGARA       BUTON TENGAH   1730421   2092398
513  SULAWESI TENGGARA      BUTON SELATAN   1622950   1414910

Menghitung missing values pada dataset

In [59]:
df.isnull().sum()

NAMA_PROV        0
NAMA_KAB/KOTA    0
NOMOR 01         0
NOMOR 02         0
dtype: int64

Melihat banyaknya entri pada dataset

In [60]:
print(df.shape)

(514, 4)

Melihat info pada dataset

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAMA_PROV      514 non-null    object
 1   NAMA_KAB/KOTA  514 non-null    object
 2   NOMOR 01       514 non-null    int64
 3   NOMOR 02       514 non-null    int64
dtypes: int64(2), object(2)
memory usage: 16.2+ KB

Melihat ringkasan terkait dataset

In [62]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Columns: 4 entries, NAMA_PROV to NOMOR 02
dtypes: int64(2), object(2)
memory usage: 16.2+ KB

Mendapatkan list kolom pada dataset

In [63]:
df.columns

Index(['NAMA_PROV', 'NAMA_KAB/KOTA', 'NOMOR 01', 'NOMOR 02'], dtype='object')

Mendapatkan list index dari dataset

In [64]:
df.index

RangeIndex(start=0, stop=514, step=1)

Tipe default dari setiap index dan kolom **bukanlah** list

In [65]:
print(type(df.columns))
print(type(df.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

Untuk mendapatkan index dan kolom sebagai list, kita bisa menggunakan method `toList()`

In [66]:
df.columns.tolist()

['NAMA_PROV', 'NAMA_KAB/KOTA', 'NOMOR 01', 'NOMOR 02']

In [67]:
df.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513]

In [68]:
print(type(df.columns.tolist()))
print(type(df.index.tolist()))

<class 'list'>
<class 'list'>

### 2. FILTERING

#### 1. Menghapus kolom yang tidak perlu.

In [69]:
df.drop(['NAMA_PROV'], axis = 1, inplace = True)

#### 2. Mengganti nama beberapa kolom.

In [70]:
df.rename(columns={'NAMA_KAB/KOTA':'Kabupaten', 'NOMOR 01':'Nomor 1', 'NOMOR 02':'Nomor 2'}, inplace = True)
df.head()

       Kabupaten   Nomor 1   Nomor 2
0   ACEH SELATAN   3267680  31334160
1  ACEH TENGGARA  13105015  35300265
2     ACEH TIMUR  10984869  91387359
3    ACEH TENGAH  14001880  21683385
4     ACEH BARAT   5079183  31261548

#### 3. Memastikan semua kolom bertipe string.

In [71]:
all(isinstance(column, str) for column in df.columns)

True

#### 4. Menjadikan kabupaten sebagai index

In [72]:
df.set_index('Kabupaten', inplace = True)

In [73]:
# optional: to remove the name of the index
df.index.name = None

In [74]:
df.head()

                Nomor 1   Nomor 2
ACEH SELATAN    3267680  31334160
ACEH TENGGARA  13105015  35300265
ACEH TIMUR     10984869  91387359
ACEH TENGAH    14001880  21683385
ACEH BARAT      5079183  31261548

#### 5. Menambah kolom total.

In [75]:
df['Total'] = df.sum(axis=1)

df.head()

                Nomor 1   Nomor 2      Total
ACEH SELATAN    3267680  31334160   34601840
ACEH TENGGARA  13105015  35300265   48405280
ACEH TIMUR     10984869  91387359  102372228
ACEH TENGAH    14001880  21683385   35685265
ACEH BARAT      5079183  31261548   36340731

Sekarang dataset memiliki kolom baru, yaitu kolom total yang menjumlahkan orang yang memilih Nomor 1 dan Nomor 2. Jadi jika kita print dimensi data, kita akan mendapatkan:

In [76]:
print('data dimensions:', df.shape)

data dimensions: (514, 3)