In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("https://github.com/daffa1134/Praktikum-VisDat/blob/main/dataPilpres.xlsx?raw=true", sheet_name='Sheet1')
print("Data berhasil dibaca!")

Data berhasil dibaca!

### 1. EXPLORATORY DATA ANALYSIS

Melihat 5 data teratas

In [3]:
df.head()

  NAMA_PROV  NAMA_KAB/KOTA  NOMOR 01  NOMOR 02
0      ACEH   ACEH SELATAN   3267680  31334160
1      ACEH  ACEH TENGGARA  13105015  35300265
2      ACEH     ACEH TIMUR  10984869  91387359
3      ACEH    ACEH TENGAH  14001880  21683385
4      ACEH     ACEH BARAT   5079183  31261548

Melihat banyaknya entri pada dataset

In [4]:
print(df.shape)

(514, 4)

Memodifikasi dataset untuk mempermudah dalam memvisualisasikan

#### 1. Menghapus kolom yang tidak perlu.

In [11]:
df.drop(['NAMA_PROV'], axis = 1, inplace = True)

#### 2. Mengganti nama beberapa kolom.

In [12]:
df.rename(columns={'NAMA_KAB/KOTA':'Kabupaten', 'NOMOR 01':'Nomor 1', 'NOMOR 02':'Nomor 2'}, inplace = True)
df.head()

                Nomor 1   Nomor 2      Total
ACEH SELATAN    3267680  31334160   34601840
ACEH TENGGARA  13105015  35300265   48405280
ACEH TIMUR     10984869  91387359  102372228
ACEH TENGAH    14001880  21683385   35685265
ACEH BARAT      5079183  31261548   36340731

#### 3. Memastikan semua kolom bertipe string.

In [13]:
all(isinstance(column, str) for column in df.columns)

True

#### 4. Menjadikan kabupaten sebagai index

In [7]:
df.set_index('Kabupaten', inplace = True)

In [8]:
# optional: to remove the name of the index
df.index.name = None

In [9]:
df.head()

              NAMA_PROV   Nomor 1   Nomor 2
ACEH SELATAN       ACEH   3267680  31334160
ACEH TENGGARA      ACEH  13105015  35300265
ACEH TIMUR         ACEH  10984869  91387359
ACEH TENGAH        ACEH  14001880  21683385
ACEH BARAT         ACEH   5079183  31261548

#### 5. Menambah kolom total.

In [14]:
df['Total'] = df.sum(axis=1)

df.head()

                Nomor 1   Nomor 2      Total
ACEH SELATAN    3267680  31334160   69203680
ACEH TENGGARA  13105015  35300265   96810560
ACEH TIMUR     10984869  91387359  204744456
ACEH TENGAH    14001880  21683385   71370530
ACEH BARAT      5079183  31261548   72681462

Mengecek berapa banyak objek null di dataset

In [15]:
df.isnull().sum()

Nomor 1    0
Nomor 2    0
Total      0
dtype: int64

Sekarang dataset memiliki kolom baru, yaitu kolom total yang menjumlahkan orang yang memilih Nomor 1 dan Nomor 2. Jadi jika kita print dimensi data, kita akan mendapatkan:

In [16]:
print('data dimensions:', df.shape)

data dimensions: (514, 3)

### FILTERING